/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold: #FFD700;
    --main-color: #DAA520;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--main-color);
    overflow-x: hidden;
}


/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1000;
}

.logo {
    font-size: 30px;
    color: var(--gold);
    font-weight: bold;
    text-decoration: none;
}

/* NAVIGATION */
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: var(--gold);
    gap: 20px;
    font-weight: 600;
}

.nav-links a:hover {
    color: white;
}

.hideOnMobile {
    display: block;
}


/* SIDEBAR */
#sidebar {
    position: fixed;
    right: -260px;
    top: 0;
    height: 100%;
    width: 260px;
    background: rgba(0, 0, 0, 0.9);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: 0.4s ease;
}

#sidebar.show {
    right: 0;
}

#sidebar a {
    color: white;
    font-size: 22px;
}

.menu-button {
    display: none;
    font-size: 32px;
    color: var(--gold);
    cursor: pointer;
    margin-left: 200px;
}




/* Courses */
#courses {
    padding: 80px 20px;
    text-align: center;
}

.course-container {
    padding-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.course-card {
    background: #f0f0f0;
    padding: 30px;
    width: 300px;
    height: 250px;
    text-align: center;
    border-radius: 25px;
    gap: 20px;
}

.course-card h3 {
    margin: 15px 0;
}

.course-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.course-card:hover {
    background: #ddd;
}

/* Image Slider */


.slider {
    width: 600px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 50px auto;
    padding: 50px;
}


.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.10s;
}

.slides img {
    width: 600px;
    height: 350px;
    object-fit: cover;
}


/* Buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, 0.7);
}

/*responsive*/
/* Mobile + Tablet */
@media (max-width: 768px) {


    .nav-links {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .slider {
        width: 95%;
        height: auto;
        padding: 0px;
    }

    .slides img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 450px) {
    .slider {
        width: 100%;
    }

    .slides img {
        width: 100%;
    }
}