/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold: #FFD700;
    --main-color: #DAA520;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--main-color);
    overflow-x: hidden;
}


/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1000;
}

.logo {
    font-size: 30px;
    color: var(--gold);
    font-weight: bold;
    text-decoration: none;
}

/* NAVIGATION */
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
     align-items: space-between;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: var(--gold);
      gap : 20px;
    font-weight: 600;
}

.nav-links a:hover {
    color: white;
}

.hideOnMobile {
    display: block;
}


/* SIDEBAR */
#sidebar {
    position: fixed;
    right: -260px;
    top: 0;
    height: 100%;
    width: 260px;
    background: rgba(0, 0, 0, 0.9);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: 0.4s ease;
}

#sidebar.show {
    right: 0;
}

#sidebar a {
    color: white;
    font-size: 22px;
}

.menu-button {
    display: none;
    font-size: 32px;
    color: var(--gold);
    cursor: pointer;
    margin-left: 200px;
}



/* REGISTER SECTION */
.register {
    min-height: 35vh;
    padding-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register form {
    width: 55%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register input,
.register select {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.register .button {
    padding: 14px;
    background: #4f46e5;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.register .button:hover {
    opacity: 0.9;
}



/* RESPONSIVE (MOBILE + TABLET) */
@media (max-width: 768px) {

    /* hide desktop menu */
    .hideOnMobile {
        display: none;
    }

    /* show mobile button */
    .menu-button {
        display: block;
    }

    .nav-links {
        gap: 0;
    }

    .register form {
        width: 85%;
    }
}

/* Small Mobile */
@media (max-width: 450px) {

    .logo {
        font-size: 24px;
    }

    .menu-button {
        font-size: 28px;
    }
}
